---
import Layout from '../layouts/Layout.astro'
import MenuComponent from '../components/MenuComponent.jsx'

let pageTitle = 'Menu - Restaurant'
---

<Layout title={pageTitle}>

  <section class="py-10 md:py-16 bg-gray-50">
      <div class="text-center mb-4">
        <h1 class="text-4xl font-bold text-gray-900 mb-4">Nuestro menú</h1>
        <div class="h-1 w-20 bg-yellow-500 mx-auto "></div>
      </div>

      <div id="menu-container">
        <MenuComponent client:load />
      </div>
  </section>
</Layout>
