---
---

<footer class="bg-gray-100 border-t border-gray-300 py-4 w-full mt-auto">
  <div class="max-w-4xl mx-auto px-4">
    <div class="text-center">
      <h3 class="text-lg mb-2 text-gray-800">4ceros</h3>
      <p class="address mb-1 text-gray-600">Sucursal Azcuenaga 2595</p>
      <p class="hours mb-1 text-gray-600">Lunes a Sábado de 8 a 23:30hs</p>
      <p class="delivery mb-4 text-gray-600">Envios a domicilio: +54 223 542-0059</p>
    </div>
  </div>
  <div class="mt-4 text-center pt-4 border-t border-gray-300">
    <p class="text-sm text-gray-500">&copy; {new Date().getFullYear()} 4ceros, Sitio: <a class="hover:text-amber-600" href="http://https://juanmanuelsanjurjodev.netlify.app/" target="_blank">Juan Manuel Sanjurjo</a>.</p>
  </div>
</footer>
