---
---

<nav class="py-4 flex flex-row px-6 shadow-md bg-white sticky top-0 z-50  w-full">
    <a href="/" class="text-3xl font-bold text-black ">MyKitchen</a>
    <ul class="flex space-x-6 md:space-x-8">
      <li><a href="/" class="text-gray-700 hover:text-black transition duration-300 px-3 py-2 rounded-md font-medium relative group">Home
        <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-yellow-500 transition-all duration-300 group-hover:w-full"></span>
      </a></li>
      <li><a href="/menu" class="text-gray-700 hover:text-black transition duration-300 px-3 py-2 rounded-md font-medium relative group">Menu
        <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-yellow-500 transition-all duration-300 group-hover:w-full"></span>
      </a></li>
    </ul>
</nav>
